<div class="ui borderless inverted main menu fixed">
  <div class="ui container">
    <a ng-class="{ active: navbar.isActive('/')}" class="item">Home</a>
    <div class="right item">
      <div class="ui inverted menu">
        <div class="ui simple dropdown item">
          Acciones
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Perfil</div>
            <div ng-click="navbar.logOut()" class="item">Salir</div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>