<div id="personal-info">
  <div style="height:100%" class="ui middle aligned center aligned grid"> 
    <div class="ui column">
      <div class="container form-box">
        <form name="registerForm" class="ui inverted form">
            <div class="header-content">
                <h1 class="brand">Semantic AF Contaduria</h1>
                <h4>Bienvenido,&nbsp; por favor registrate a continuacion.</h4>
            </div>
            <div class="content text-left">
                <div class="field" ng-class="{ 'has-error': registerForm.userName.$touched && registerForm.userName.$invalid }">
                    <label for="userName">Nombre de Usuario</label>
                    <input type="register" placeholder="Ingresar nombre de usuario" class="form-control" name="userName" ng-model="register.userInfo.username" ng-minlength="6"  ng-maxlength="12" required >
                    <div class="help-block text-left" ng-messages="registerForm.userName.$error" ng-if="registerForm.userName.$touched">
                        <div ng-messages-include="scripts/app/views/login-messages.html"></div>
                    </div>
                </div>
                <div class="field" ng-class="{ 'has-error': registerForm.password.$touched && registerForm.password.$invalid }">
                    <label for="password">Contraseña</label>
                    <input type="password" placeholder="Ingresar contrasenia" class="form-control" name="password" ng-model="register.userInfo.password" ng-minlength="6"  ng-maxlength="12"  required >
                    <div class="help-block text-left" ng-messages="registerForm.password.$error" ng-if="registerForm.password.$touched">
                        <div ng-messages-include="scripts/app/views/login-messages.html"></div>
                    </div>
                </div>
                <div class="field" ng-class="{ 'has-error': registerForm.name.$touched && registerForm.name.$invalid }">
                    <label for="name">Nombre</label>
                    <input type="register" placeholder="Ingresar nombre" class="form-control" name="name" ng-model="register.userInfo.name" required >
                    <div class="help-block text-left" ng-messages="registerForm.name.$error" ng-if="registerForm.name.$touched">
                        <div ng-messages-include="scripts/app/views/login-messages.html"></div>
                    </div>
                </div>
                <div class="field" ng-class="{ 'has-error': registerForm.lastName.$touched && registerForm.lastName.$invalid }">
                    <label for="lastName">Apellido</label>
                    <input type="register" placeholder="Ingresar apellido" class="form-control" name="lastName" ng-model="register.userInfo.lastname" required >
                    <div class="help-block text-left" ng-messages="registerForm.lastName.$error" ng-if="registerForm.lastName.$touched">
                        <div ng-messages-include="scripts/app/views/login-messages.html"></div>
                    </div>
                </div>
                <div class="field" ng-class="{ 'has-error': registerForm.email.$touched && registerForm.email.$invalid }">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Ingresar email" class="form-control" name="email" ng-model="register.userInfo.email" required >
                    <div class="help-block text-left" ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched">
                        <div ng-messages-include="scripts/app/views/login-messages.html"></div>
                    </div>
                </div>  
                <div class="field" ng-class="{ 'has-error': registerForm.adress.$touched && registerForm.adress.$invalid }">
                    <label for="birth">Direccion</label>
                    <input type="text" placeholder="Ingresar direccion" class="form-control" name="adress" ng-model="register.userInfo.adress" required >
                    <div class="help-block text-left" ng-messages="registerForm.adress.$error" ng-if="registerForm.adress.$touched">
                        <div ng-messages-include="scripts/app/views/login-messages.html"></div>
                    </div>
                </div>
                <div class="field" ng-class="{ 'has-error': registerForm.birth.$touched && registerForm.birth.$invalid }">
                    <label for="birth">Fecha de nacimiento</label>
                    <input type="date" placeholder="Ingresar fecha de nacimiento" class="form-control" name="birth" ng-model="register.userInfo.birthday" required >
                    <div class="help-block text-left" ng-messages="registerForm.birth.$error" ng-if="registerForm.birth.$touched">
                        <div ng-messages-include="scripts/app/views/login-messages.html"></div>
                    </div>
                </div>
                <div class="ui secondary segment">
                    <h4 class="ui dividing header">Selecciona los productos a utilizar</h4>
                    <div class="four fields">
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="checkbox" ng-model="register.userInfo.sales" name="Sales">
                                <label>Ventas</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="checkbox" ng-model="register.userInfo.stock" name="Stock">
                                <label>Stock</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="checkbox" ng-model="register.userInfo.clients" name="Clients">
                                <label>Clientes</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="checkbox" ng-model="register.userInfo.providers" name="Providers">
                                <label>Proveedores</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field text-center">
                    <div class="two fields">
                        <div class="field">
                            <button ng-disabled="registerForm.$invalid" type="submit" ng-click="register.register()">Register</button>
                        </div>
                        <div class="field">
                            <button ng-click="register.cancel()">Cancel</button>
                        </div>
                    </div>
                </div>

                <div class="help-block text-left" ng-messages="registerForm.rememberMe.$error" ng-if="registerForm.rememberMe.$touched">
                    <div ng-messages-include="scripts/app/views/login-messages.html"></div>
                </div>            
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

